.card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  column-gap: 8px;
}

.card__caption {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: self-start;
  font-size: 20px;
  padding: 10px 0 0 0;
}

.card__text {
  margin: 0;
}

.card__button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.card__icon {
  height: 20px;
  width: 23px;
  opacity: 40%;
}

.card__button:hover .card__icon {
  opacity: 100%;
}

.card__image {
  height: auto;
  width: 100%;
  background-size: contain;
  border-radius: 8px;
  margin: 0;
  aspect-ratio: 1/1;
}

@media (max-width: 1320px) {
  .card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    column-gap: 8px;
  }

  .card__image {
    height: auto;
    width: 100%;
    background-size: contain;
    border-radius: 8px;
    margin: 0;
    aspect-ratio: 1/1;
  }

  .card__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 264px;
  }
}

@media (max-width: 630px) {
  .card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    column-gap: 8px;
    min-width: 288px;
  }

  .card__caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
    padding: 10px 0 0 0;
  }

  .card__image {
    height: auto;
    width: 100%;
    background-size: contain;
    border-radius: 8px;
    margin: 0;
    aspect-ratio: 1/1;
  }

  .card__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 265px;
  }
}
