.cards {
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  padding: 20px 0 40px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  grid-template-rows: auto auto;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1320px) {
  .cards__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
  }
}

@media (max-width: 630px) {
  .cards__list {
    grid-template-columns: 1fr;
    gap: 12px;
    justify-content: center;
  }
}
