.card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  column-gap: 8px;
  position: relative;
}

.card__caption {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 20px;
  padding: 10px 0 0 0;
}

.card__text {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__button {
  height: 20px;
  width: 23px;
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
  background: transparent url("../images/Union.png") center no-repeat;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.card__button:hover {
  opacity: 1;
}

.card__button_active {
  background-image: url("../images/UnionRed.svg");
  opacity: 1;
}

.card__button_active:hover {
  opacity: 0.4;
}

.card__trash-button {
  height: 32px;
  width: 32px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent url(../images/State=Default.svg) center no-repeat;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.card__trash-button:hover {
  background: transparent url(../images/State=Hover.svg) center no-repeat;
}

.card__image {
  height: auto;
  width: 100%;
  background-size: contain;
  border-radius: 8px;
  margin: 0;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.card__image:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

@media (max-width: 630px) {
  .card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    column-gap: 8px;
    min-width: 288px;
  }

  .card__caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
    padding: 10px 0 0 0;
  }

  .card__image {
    height: auto;
    width: 100%;
    background-size: contain;
    border-radius: 8px;
    margin: 0;
    aspect-ratio: 1/1;
  }

  .card__text {
    max-width: 265px;
  }
}
