.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #ffffff;
  opacity: 80%;
  border-bottom: 1px;
  padding: 10px 80px;
}

.header__menubar {
}

.header__logo {
  height: 26px;
  width: 94px;
}
