.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  position: relative;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__close-button {
  display: flex;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  opacity: 40%;
  padding: 0 0 10px;
  transition: opacity 0.2s ease-in-out;
}

.modal__close-button:hover {
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 0.4);
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 16px 12px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #21212166;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 30%;
}

.modal__input:hover {
  border-color: #212121;
}

.modal__submit-button {
  color: #fcf5e5;
  background-color: #212121;
  padding: 18px 32px;
  max-width: 156px;
  width: 100%;
  border-radius: 8px;
  transition: opacity 0.2s ease-in-out;
}

.modal__submit-button:hover {
  opacity: 80%;
}

@media (max-width: 630px) {
  .modal__container {
    width: 100%;
    padding: 12px;
  }
  .modal__title {
    margin: 0 0 24px;
    padding: 10px 0;
    font-size: 20px;
  }

  .modal__close-button {
    display: flex;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    opacity: 40%;
    padding: 10px 0;
  }

  .modal__close-icon {
  }
  .modal__form {
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    max-width: none;
  }

  .modal__submit-button {
    max-width: none;
    width: 100%;
  }
}
