.modal {
  visibility: hidden;
  opacity: 0;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__image-container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 81px 0 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__text {
  display: block;
  color: #ffffff;
  background-color: #212121;
  width: fit-content;
  padding: 4px 8px;
  border: none;
  border-radius: 8px;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.modal__close-image {
  position: absolute;
  right: -52.5px;
  border: none;
  background: transparent url("../images/Property\ 1=Variant3.svg") center
    no-repeat;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.modal__close-image:hover {
  opacity: 0.4;
}

.modal__close-button {
  display: flex;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  opacity: 0.4;
  padding: 0 0 10px;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 0.4);
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 16px 12px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #21212166;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  color: #212121;
  opacity: 0.3;
}

.modal__input:hover {
  border-color: #212121;
}

.modal__input_type_error:hover {
  border-color: rgba(255, 0, 0, 0.6);
}

.modal__input_type_error:focus {
  outline-color: rgba(255, 0, 0, 0.6);
}

.modal__error {
  display: block;
  color: #ff0000;
  opacity: 0.7;
  margin-top: 8px;
}

.modal__submit-button {
  color: #fcf5e5;
  background-color: #212121;
  padding: 18px 32px;
  max-width: 156px;
  width: 100%;
  border-radius: 8px;
  transition: opacity 0.2s ease-in-out;
}

.modal__submit-button_disabled {
  background-color: rgba(33, 33, 33, 0.4);
  border: none;
  cursor: default;
}

.modal__submit-button_disabled:hover {
  background-color: rgba(33, 33, 33, 0.4);
}

.modal__submit-button:hover {
  opacity: 0.8;
}

@media (max-width: 630px) {
  .modal__container {
    padding: 12px;
  }
  .modal__title {
    margin: 0 0 24px;
    padding: 10px 0;
    font-size: 20px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
    padding: 10px 0;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    max-width: none;
  }

  .modal__submit-button {
    max-width: none;
  }

  .modal__image-container {
    padding: 81px 6px 0;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__close-image {
    right: 0;
    top: 32px;
  }

  .modal__text {
    max-width: 175px;
    font-size: 16px;
  }
}
